__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/
jupyter/artifacts/

build/
managed_components/
dependencies.lock
DerivedData/
xcuserdata/
*.xcuserstate

sdkconfig
sdkconfig.old
node_modules/

.DS_Store